<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2020 PrinterCare - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~
  ~ @copyright 2020 PrinterCare
  ~ @link       http://www.printer-care.de
  ~
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">

    <logging>
        <log type="coverage-html" target="tests/coverage"/>
    </logging>

    <testsuites>
        <testsuite name="RouteNoteBundle test suite">
            <directory suffix="Test.php">Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
