.pws_toolbar {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.pws_toolbar.show {
    position: absolute;
    width: 100%;
    height: 20em;
    bottom: 0;
}

.pws_toolbar.show .glyphicon-arrow-up {
    transform: rotate(180deg);
}

.pws_toolbar .toolbar_content {
    display: none;
}

.pws_toolbar .toolbar_toggle {
    position: absolute;
    top: -2em;
    left: 0;
    width: 10em;
    height: 2em;
    cursor: pointer;
}


.pws_toolbar.show .toolbar_content {
    display: block;
}
